/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* // */

html {
    scroll-behavior: smooth;
}

body {
    background: #1c2441;
    color: #e7e3d0;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
}

header {
    /* font-size: 1em; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: #e7e3d0;
    height: 10vh;
}

header a {
    font-family: 'Fugaz One', cursive;
    color: #1c2441;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    padding-right: 1em;
}

.about {
    height: 100vh;
    background-color: #e7e3d0;
}

.team {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    padding-top: 10vh;
    height: 100vh;
    background-color: #e7e3d0;
}

img {
    height: 200px;
    width: 200px;
}

.profile-card {
    border: solid red 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 30px;
    max-width: 500px;
}

.profile-card__links {
    display: flex;
}

.profile-card__description {
    margin: 10px 0;
}

h2 {
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    margin: 10px 0;
}

h3 {
    font-size: 1em;
    font-family: 'Fugaz One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
}

img {
    border-radius: 50%;
    margin: 10px 0;
}

button {
    font-family: 'Fugaz One', cursive;
    font-size: 1em;
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    border: solid #e7e3d0 3px;
    color: #e7e3d0;
    background-color: #1c2441;
    margin: 3px;
    border-radius: 50%;
    margin: 10px 5px;
}