html {
    scroll-behavior: smooth;
}

body {
    background: #1c2441;
    color: #e7e3d0;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: #e7e3d0;
    height: 10vh;
}

header a {
    font-family: 'Fugaz One', cursive;
    color: #1c2441;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 1em;
    transition: all .7s ease;
    border-radius: 4px;
    cursor: pointer;
}

header a:hover {
    color: #e7e3d0;
    background-color: #1c2441;
    height: 100%;
}

.about__heading {
    display: flex;
    text-align: center;
    margin: 0 auto;
    max-width: 540px;
}

.about {
    height: 100vh;
    background-color: #e7e3d0;
}

.intro {
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-family: 'Fugaz One', cursive;
    color: #701515;
    font-size: 3.1em;
    text-transform: uppercase;
    text-align: center;
}

.typed {
    font-family: 'Fugaz One', cursive;
    color: #1c2441;
}

.typed::after {
    content: '▋';
    display: inline;
    -webkit-animation: .7s infinite blink;
    animation: .7s infinite blink;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@-webkit-keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.team {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 200px;
    width: 200px;
}

.profile-card {
    border: solid #701515 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 30px 30px;
    height: 600px;
    max-width: 350px;
}

.profile-card__links {
    display: flex;
}

.profile-card__description {
    margin: 10px 0;
    line-height: 1.4;
    letter-spacing: 0.5px;
    height: 135px;
}

h2 {
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    margin: 10px 0;
    text-shadow: 2px 2px #df1818;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 1em;
    font-family: 'Fugaz One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
}

img {
    border-radius: 50%;
    margin: 10px 0;
}

button {
    font-family: 'Fugaz One', cursive;
    font-size: 1em;
    border: none;
    height: 100px;
    width: 100px;
    background-color: #1c2441;
    margin: 30px;
    margin: 10px 5px;
    cursor: pointer;
}

button img {
    margin: 0px;
    padding: 0px 2px;
    width: 100px;
    height: auto;

}

button img:hover {
    margin: 2px -3px;

}

.profile-card__links a {
    transition: all 0.15s ease-in;
    margin: 10px;
}

.profile-card__links a:hover {
    transform: scale(1.08);
}

.profile-card__links a:active {
    transform: scale(1);
}


.contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
    background-color: #e7e3d0;
}

.contact__header {
    color: #1c2441;
    text-shadow: 2px 2px #701515;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    height: 50px;
    width: 300px;
    background: rgba(231, 227, 208);
    margin: 10px;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Fugaz One', cursive;
    border: solid #1c2441 4px;
    padding: 10px;
    border-radius: 15px;
}

#submit {
    background-color: #1c2441;
    color: #e7e3d0;
    width: 300px;
    height: 70px;
    margin: 30px;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

#submit:hover {
    transform: scale(1.08);
}

#submit:active {
    transform: scale(1);
}

footer {
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 950px) {

    .team__container {
        display: flex;
        flex-direction: row;
    }

    .profile-card {
        margin: 60px 30px;
    }

    .about__heading {
        padding-top: 100px;
    }

    .header a {
        font-size: 1.5em;
    }

    .contact-form input,
    .contact-form textarea {
        width: 400px;
    }
}