/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* // */

html {
    scroll-behavior: smooth;
}

body {
    background: #1c2441;
    color: #e7e3d0;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: #e7e3d0;
    height: 10vh;
}

header a {
    font-family: 'Fugaz One', cursive;
    color: #1c2441;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 5px 10px;
    margin-right: 1em;
    transition: all .7s ease;
    border-radius: 4px;
    cursor: pointer;
}

header a:hover {
    color: #e7e3d0;
    background-color: #1c2441;
    height: 100%;
}

.about {
    height: 100vh;
    background-color: #e7e3d0;
}

.team {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    padding-top: 10vh;
    height: 100vh;
    background-color: #e7e3d0;
}

img {
    height: 200px;
    width: 200px;
}

.profile-card {
    border: solid #701515 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 30px 30px;
    max-width: 400px;
}

.profile-card__links {
    display: flex;
}

.profile-card__description {
    margin: 10px 0;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

h2 {
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    margin: 10px 0;
    text-shadow: 2px 2px 2px #df1818;
    letter-spacing: 1px;
}

h3 {
    font-size: 1em;
    font-family: 'Fugaz One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
}

img {
    border-radius: 50%;
    margin: 10px 0;
}

button {
    font-family: 'Fugaz One', cursive;
    font-size: 1em;
    /* text-transform: uppercase; */
    border: none;
    height: 100px;
    width: 100px;
    /* border: solid #e7e3d0 3px;
    color: #e7e3d0; */
    background-color: #1c2441;
    margin: 3px;
    /* border-radius: 50%; */
    margin: 10px 5px;
    cursor: pointer;
}

button img {
    margin: 0px;
    padding: 0px 5px;
    width: 100px;
    height: auto;

}

.linkedin:hover {
    background: url(/img/linkedin_h.svg) center;
    background-repeat: no-repeat;
    background-size: 100px auto;

}

.github:hover {
    background: url(/img/github_h.svg) center;
    background-repeat: no-repeat;
    background-size: 100px auto;
}

.codewars:hover {
    background: url(/img/codewars_h.svg) center;
    background-repeat: no-repeat;
    background-size: 100px auto;
    border-radius: 50%;
}

.contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 500px;
}

.contact-form input,
.contact-form textarea {
    height: 50px;
    width: 400px;
    background: rgba(231, 227, 208);
    margin: 10px;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Fugaz One', cursive;
    border: solid #1c2441 4px;
    padding: 10px;
    border-radius: 15px;
}

#submit {
    background-color: #1c2441;
    color: #e7e3d0;
    width: 200px;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

footer {
    padding: 10px;
    text-align: center;
}